fieldset {
  margin: 0 0 $small-spacing;
  padding: $base-spacing;

  border: $base-border;
  background-color: $secondary-background-color;
}

input,
label,
select {
  font-family: $base-font-family;
  font-size: $base-font-size;

  display: block;
}

label {
  font-weight: 600;

  margin-bottom: $small-spacing / 2;
  &.required::after {
    content: '*';
  }
  abbr {
    display: none;
  }
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea,
select,
select[multiple=multiple],
.custom-select {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 36px;

  box-sizing: border-box;
  width: 100%;
  width: 100%;
  max-width: 275px;
  height: 36px;
  margin-bottom: $small-spacing;
  padding: 0 10px;

  transition: $base-transition;
  vertical-align: middle;

  border: none;
  border-radius: $base-border-radius;
  outline: none;
  background-color: $base-background-color;
  box-shadow: $form-box-shadow;
  &:hover {
    //border-color: shade($base-border-color, 20%);
  }
  &:focus {
    //border-color: $action-color;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;

    background-color: shade($base-background-color, 5%);
    &:hover {
      //border: $base-border;
    }
  }
}

textarea {
  line-height: normal;

  max-width: 325px;
  height: auto;
  padding: 8px 10px;

  resize: vertical;
}

input[type='search'] {
  appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;

  margin-right: $small-spacing / 2;
  &:hover {
    //border-color: shade($base-border-color, 20%);
  }
  &:focus {
    //border-color: $action-color;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;

    background-color: shade($base-background-color, 5%);
    &:hover {
      //border: $base-border;
    }
  }
}

input[type='file'] {
  width: 100%;
  margin-bottom: $small-spacing;
}



.custom-select {
  position: relative;
  z-index: 10;

  display: inline-block;
  //padding: 0;
  overflow: hidden;

  width: auto;
  margin-bottom: $base-spacing;
  padding: 0;
  //border: 1px solid #3c1c78;

  border-radius: 3px;
  background: #fff;
  select {
    font-size: 14px;

    display: block;

    max-width: none;
    height: 36px;
    margin: 0;
    padding-right: 55px;

    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  &:after {
    font-family: FontAwesome;
    //font-size: 24px;
    line-height: 36px;

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 36px;
    height: 100%;

    content: '';
    text-align: center;
    vertical-align: middle;

    color: #fff;
    //border-radius: 0 3px 3px 0;
    background: linear-gradient(180deg, #313e47 0%, #16242e 100%);
    //border-left: 1px solid #3c1c78;
  }
}

::-webkit-input-placeholder {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;

  text-overflow: ellipsis;

  color: #828282;
}
::-moz-placeholder {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;

  text-overflow: ellipsis;

  color: #828282;
}
:-moz-placeholder {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;

  text-overflow: ellipsis;

  color: #828282;
}
:-ms-input-placeholder {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;

  text-overflow: ellipsis;

  color: #828282;
}
